extends layout

block pageCSS
  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  .main-wrapper
    .row
      .small-12.large-4.columns.intro-tile-wrapper
        .intro-tile
          .intro-tile-header Step 1
          p.intro-tile-text
           | Sign up for our amazing service that enables you to trade books with people around the world.

      .small-12.large-4.columns.intro-tile-wrapper
        .intro-tile
          .intro-tile-header Step 2
          p.intro-tile-text
            | Browse the books posted by our users which span a vast variety of genres and themes. You can also
            | put your own books that you are willing to trade with other people.

      .small-12.large-4.columns.intro-tile-wrapper
        .intro-tile
          .intro-tile-header Step 3
          p.intro-tile-text
            | Select the books you like. Send the trade request for those books and wait for the other user
            | to accept and choose one of your books. This completes the trade and lets you both enjoy reading
            | without having to spend a dime!

