doctype html
html
  head
    title Book Trading Club
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/foundation.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    block pageCSS

  body

    .top-bar
      .top-bar-left
        .top-bar-title Main

      .top-bar-right
        ul.dropdown.menu(data-dropdown-menu)
          li
            a(href="/books") All books
          if(user)
            li
              a(href="/user/" + user.username + "/books") My books
            li
              a(href="/user/" + user.username + "/trades") My trades
            li
              a(href="#")= user.username
              ul.menu
               li
                a(href="/user/" + user.username) Profile
               li
                a(href="/logout") Log out
          else
            li
              a(href="/register") Sign up
            li
              a(href="/login") Login


    block content

  script(src="/javascripts/what-input.js")
  script(src="/javascripts/foundation.min.js")
  script.
    $(document).foundation();