@import '__breakpoint';

.main-wrapper {
  margin-top: 100px;
}
.book-cover {
  display: inline-block;
  img {
    width: 100px;
  }
}

.book-info {
  display: inline-block;
  width: 75%;
  @include small {
    width: 55%;
  }
  margin-left: 20px;
  vertical-align: top;
  text-align: center;
  color: #978046;
}

.book-title {
  font-style: italic;
}

.book-wrapper {
  margin-bottom: 20px;
}
.fake-trade-button {
  font-size: 1.2em;
  color: #f9f9f9;
  background: #66310E;
  padding: 10px;
  &:hover {
    text-decoration: none;
    color: #f9f9f9;
    background: #8C4313;
  }
  border-radius: 15px;
  width: 100px;
  img {
    margin-left: 5px;
  }
}

input#trade-button {
  text-align: left;
  padding-left: 15px;
  font-size: 1.2em;
  background:url('../images/trade_icon.png') #66310E no-repeat;
  background-position: 85% 50%;
  border: none;
  color: #f9f9f9;
  &:hover {
    background-color: #8C4313;
  }
  border-radius: 15px;
  width: 100px;
  height: 40px;
}