@import "__breakpoint";
@import "__book_template";
body {
  @include medium-up {
    background: url('../images/index_background.jpeg') no-repeat;
  }
}

.intro-tile-wrapper {
  margin-bottom: 100px;

  text-align: center;
  .intro-tile {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    color: #978046;
    font-weight: bold;
    font-size: 1.4em;
  }
}


.intro-tile-header {
  margin-bottom: 20px;
  font-size: 1.8em;
}


.main-wrapper {
  background: url("../images/texture.jpg") repeat;
  width: 80%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  @include medium-up {
    padding-top: 100px;
  }
}

.recommendations-header {
  text-align: center;
  @include small {
    margin: 20px 0 20px;
  }
  @include medium-up {
    margin-bottom: 100px;
  }
  font-size: 2em;
  color: #978046;
}

.button-wrapper {
  text-align: center;
  margin-top: 40px;
}

.see-more-button {
  padding: 15px;
  font-size: 1.4em;
  font-weight: bold;
  background-color: #66310E;
  border: none;
  border-radius: 20px;
  color: #f9f9f9;
  &:hover {
    background-color: #8C4313;
    color: #f9f9f9;
  }
}