@import '__breakpoint';
@import '__book_template';
.form-wrapper {
  margin-top: 100px;
  text-align: center;
}

input[type=submit] {
  padding: 15px;
  font-size: 1.4em;
  font-weight: bold;
  background-color: #66310E;
  border: none;
  border-radius: 20px;
  color: #f9f9f9;
  &:hover {
    background-color: #8C4313;
  }
  &:disabled {
    background-color: #5f5f5f;
  }
}

.overlay {
  width: 100%;
  z-index: 1000;
  position: absolute;
  padding-left: 20%;
  padding-right: 20%;
  @include small {
    margin-top: 50px;
  }
  @include medium-up {
    margin-top: -200px;
  }
  background: rgba(76, 86, 89, 0.9);

}

.overlay-header {
  margin-bottom: 50px;
  font-size: 1.8em;
  color: #f9f9f9;
  text-align: center;
}

#book-find, #title {
  display: inline;
}

#book-find {
  margin: 10px;
  @include medium-up {
    padding: 10px 20px;
  }
  @include small {
    padding: 5px;
  }
  font-size: 1.2em;
  font-weight: bold;
  background-color: #66310E;
  border: none;
  border-radius: 10px;
  color: #f9f9f9;
  &:hover {
    background-color: #8C4313;
  }
}

#title {
  width: 80%;
}
.cover-item {
  list-style: none;
  display: inline-block;
  margin: 10px 10px 30px;
}

.cover-image {
  border: 3px solid transparent;
  &:hover {
    border: 3px solid #22bb5b;
    cursor: pointer;
  }
}

.cover-info {
  font-size: 1.2em;
  color: #f9f9f9;
  text-align: center;
}

.cover-title {
  font-style: italic;
}

.main-wrapper {
  margin-top: 100px;
}



.borrowed {
  color: darkred;
}
